html {
    width: 100%;
    height: 100%;
}

body {
 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
     width: 100%;
    height: 100%;

}

.overflow-hidden{
overflow: hidden;
}
.hideScroll{
  width: 90%;

}
#htmlScreenshot{
  width: 100%;
  height:100%;

}
.drop-zone {
border: 10px dashed #ccc;
color: #ccc;
font-size: 32px;
text-align: center;

   text-align: center;
   vertical-align: middle;
}
/*for aligning the text at hte center - http://css-tricks.com/centering-in-the-unknown */
.center-content:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.drop-zone:after{
    content : 'image here';
}
.progress-zone{
    background: url("../img/loader.gif") no-repeat center center;
 }
#htmlScreenshot.complete-zone {
overflow:scroll; 
width: 104%;
   
}
.failed-zone:after{
    content : 'Error'
}
.invalid-zone:after{
    content : 'enter url'
}
.appl-section {
  
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.width-100-percent{
      width:100% !important;
}
.height-100-prercent{
    
      height: 100%;
}
.height-60-prercent{
     height: 60%;
}
.content-section{
margin-top:5%;
margin-bottom:5%;    
}
.center-snapshot-input
{
    margin: 35% auto;
}