html {
    width: 100%;
    height: 100%;
}

body {
 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
     width: 100%;
    height: 100%;

}

.overflow-hidden{
overflow: hidden;
}
.hideScroll{
  width: 90%;

}
#htmlScreenshot{
  width: 100%;
  height:100%;

}
.drop-zone {
border: 10px dashed #ccc;
color: #ccc;
font-size: 32px;
text-align: center;

}
.drop-zone:after{
    content : 'image here'
}
.progress-zone{
    background: url("../img/loader.gif") no-repeat center center;
 }
#htmlScreenshot.complete-zone {
overflow:scroll; 
width: 104%;
   
}
.failed-zone:after{
    content : 'Error'
}
.invalid-zone:after{
    content : 'enter url'
}
.appl-section {
  
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.full-width{
      width:100%;
}
.height-100-prercent{
    
      height: 100%;
}
.height-80-prercent{
     height: 80%;
}

